*.pyc
*~
build/
.pytest_cache/
simbench.egg-info/
dist/
.cache/
.idea
.DS_Store
doc/.DS_Store
doc/api/
doc/.build/*
doc/_build/*
tutorials/.ipynb_checkpoints
.cache
*__pycache__*
.vs
*.pyproj
*.user
*.sln
*.bak
*.orig
*.ini
